<button>bonjour</button>

<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<p>testing</p>
<!-- <button (click)="LoadShortList()">Load short list</button>

<div>testing list</div>
<ul>
  <li *ngFor="let aa of tvItemsShortList$ | async">
    {{ aa.TVItemID }} testing {{ aa.TVItemWeb?.TVText }}
  </li>
</ul>

<div>testing read</div>
   <p *ngIf="tvItem"> {{ tvItem.TVItemID }} web {{ tvItem.TVItemWeb?.TVText }} rep {{ tvItem.TVItemReport?.TVItemReportTest }} </p>

<div>testing as observable in ngOnInit</div>
<ul>
  <li *ngFor="let aa of tvItems$ | async">
    {{ aa.TVItemID }} testing {{ aa.TVItemWeb?.TVText }} rep {{ aa.TVItemReport?.TVItemReportTest }}
  </li>
</ul> -->