
<button (click)="LoadShortList()">Load short list</button>

<div>testing list</div>
<ul>
  <li *ngFor="let aa of tvItemsShortList$ | async">
    {{ aa.TVItemID }} --- {{ aa.TVPath }} --- {{ aa.TVItemLanguage?.TVText }}
  </li>
</ul>

<div>testing read</div>
   <p *ngIf="tvItem"> {{ tvItem.TVItemID }} {{ tvItem.TVPath }} </p>

<div>testing as observable in ngOnInit</div>
<ul>
  <li *ngFor="let aa of tvItems$ | async">
    {{ aa.TVItemID }} --- {{ aa.TVPath }} --- {{ aa.TVItemLanguage?.TVText }}
  </li>
</ul>

